---
import Layout from '../layouts/Layout.astro';
import HorarioSemanl from '../components/HorarioSemanl.astro';
---

<Layout title="Horario Semanal de Manga y Anime">
	<main>
		<HorarioSemanl />

	</main>
</Layout>


