---
const { title, description } = Astro.props; // Props para pasar título y descripción a las páginas.

import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<html lang="es" class="bg-gray-900 text-gray-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title ? title : 'Mi Sitio de Anime'}</title>
    <meta name="description" content={description ? description : 'Una web de anime con horario semanal.'} />
    <ViewTransitions/>
  </head>
  <body class="bg-gray-900 text-gray-100 transition-colors duration-300">
   

    <!-- Contenido principal que cambiará dependiendo de la página -->
    <main class="w-full">
      <slot /> <!-- Aquí se inserta el contenido de cada página -->
    </main>

    
  </body>
</html>